*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}

body{
    font-family: arial, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: sticky
    top 0;
    z-index: 1000;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #2563eb;
    cursor: pointer;
}

.nav-links{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
   transition: 0.3s
}

.nav-links a:hover{
    color: #2563eb;
}

.menu-btn{
    display: none;
    border: none;
    background: none;

    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px){

    .navbar{
        padding: 20px;

    }
    .nav-links{
        display: none;
    }

    .menu-btn{
        display:block;
    }
}

.logo{
    color: #f97316;
}





.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:0.3s;

    position:relative;
}
.nav-links a::after{
    content:"";

    position:absolute;

    left:0;
    bottom:-5px;

    width:0;
    height:2px;

    background:#2563eb;

    transition:width 0.3s ease;
}

.nav-links a:hover::after{
       width:100%;
}


.hero{
    min-height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 50px;
    gap:50px;
}

.hero-content{
    flex:1;

}
.greeting{
    font-size:20px;
    color:#2563eb;
    margin-bottom:10px;
}



.hero-content h1:hover{
    transition: 0.3s ease;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:10px;

    background: linear-gradient(to right,  #2563eb, #7c3aed, #ec4899);

    background-clip: text;
    -webkit-background-clip: text;

}

.hero-content h1:hover{
    transition: 0.3s ease;
    color: transparent;
-webkit-text-fill-color: transparent;
}

.hero-content h2{
    font-size:32px;
    color:#475569;
    margin-bottom:20px;

}

.hero-description{
    max-width:600px;
    line-height:1.8;
    color:#64748b;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:15px;
}

.btn{
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;

}
.primary-btn{
    background: #2563eb;
    color:white;

}

.primary-btn:hover{
    transform:translateY(-3px);
}

.secondary-btn:hover{
    background:#2563eb;
    color:white;

}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;

}

.hero-image img{
    width:350px;
    height:350px;

    object-fit:cover;
    border-radius:50%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

@media(max-width: 768px){
    .hero{
        flex-direction:column-reverse;
        text-align:center;
    }
    .hero-content h1{
        font-size:40px;

    }

    .hero-content h2{
        font-size:24px;
    }

    hero-buttons{
        justify-content:center;

    }
    .hero-image img{
        width:250px;
        height:250px;
    }
}

.hero-image img:hover{
    transform:scale(1.05);
}

// style for about section


.about{
    padding: 100px 50px;
    background: #f8fafc;
}

.about-container{
    max-width:1200px;
    margin:auto;
}

.section-title{
    text-align:center;
    font-size:42px;
    margin-bottom:25px;

}

.about-text{
    max-width:800px;
    margin:auto;

    text-align:center;
    line-height:1.8;
    color:#64748b;
    margin-bottom:50px;
}

.about-cards{
    display:grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;
}

.about-card{
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    transition:0.3s ease;
    border: 2px solid transparent;
}

.about-card:hover{
    transform:translateY(-10px);
    border: 2px solid #2563eb;
     box-shadow:
        0 15px 30px rgba(37, 99, 235, 0.2);
}

.about-card h3{
   margin-bottom:15px;
   color:#2563eb;
}

.about-card p{
    line-height:1.7;
    color:#64748b
}

.skills{
    padding:100px 50px;
}

.skills-container{
    max-width:1200px;
    margin:auto;

}

.skills-text{
    text-align:center;
    color:#64748b;
    margin-bottom:50px;

}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));

    gap:20px;
}

.skill-card{
    background:white;
    padding:25px;
    text-align:center;
    font-weight:600;
    border-radius:12px;

    box-shadow:
        0 5px 15px rgba(0,0,0,0.08);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;

    cursor:pointer;
}

.skill-card:hover{
    transform:
        translateY(-8px)
        scale(1.05);

    background:
        linear-gradient(
            135deg,
            #2563eb,
            #7c3aed
        );

    color:white;

    box-shadow:
        0 15px 30px rgba(37,99,235,0.3);
}


.projects{
    padding: 100px 50px;
    background: #f8fafc;
}

.projects-text{
    text-align:center;
    color:#64748b;
    margin-bottom:50px;


}

.project-grid{
    display:grid;
    grid-template-columns:(auto-fit,repeat(320px, 1fr));
    gap:30px
}

.project-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.project-card:hover{
    transform:translateY(-10px);

}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    

}

.project-content{
    padding: 25px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects-content h3{
    
    color:#2563eb;
    

}

.tech-stack{
    display:flex;
    flex-wrap: wrap;
    
}

.tech-stack span{
    background: #e2e8f0;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.project-buttons{
    display:flex;
    gap:15px;

}

.project-buttons a{
    text-decoration:none;
    background: #2563eb;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    transition:0.3s ease;

}

.project-buttons a:hover{
    background: #1d4ed8;
}


.conact{
    padding:100px 50px;

}

.contact-container{
    max-width: 1200px;
    margin: auto;

}

.contact-text{
    text-align: center;
    color: #64748b;
    margin-bottom:50px;

}
contact-grid{
    grid-template-columns:reapeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-bottom:50px;
}

.contact-card{
    background:white;
    padding:30px;
    border-radius:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
    transition:0.3s ease;

}

.contact-card:hover{
    transform:translateY(-8px);
    border:2px solid #2563eb;

}

.contact-card{
    border:2px solid transparent;

}

.contact-card:hover{
    border-color:#2563eb;
}

.contact-btn-wrapper{
    text-align:center;

}
.contact-btn{
    display:inline-block;
    text-decoration:none;
    background:#2563eb;
    color: white;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight:600;
    transition: 0.3s ease;


}

.contact-btn:hover{
    transform:translateY(-4px);
}

.footer{
    background:#0f172a;
    color:white;

    padding:50px 20px;
}
.footer-container{
    max-width:1200px;
    margin:auto;

    text-align:center;
}
.footer-container h3{
    margin-bottom:15px;
}
.footer-container p{
    color:#cbd5e1;
}
.footer-links{
    margin:25px 0;

    display:flex;
    justify-content:center;
    gap:25px;
}
.footer-links a{
    text-decoration:none;
    color:white;

    transition:0.3s ease;
}
.footer-links a:hover{
    color:#2563eb;
}
.copyright{
    margin-top:20px;
    font-size:14px;
}